.bg-darkc{
  background: rgb(73,77,82);
background: linear-gradient(180deg, rgba(73,77,82,1) 0%, rgba(53,58,64,1) 50%, rgba(53,58,64,1) 100%);
}

body{
  background-color: #353a40;
}

.bg-lightc{
  background-color: #235789;
}

.txt-lightc{
  color: #fdfffc !important;
}

.txt-lightc2{
  color: #B4CDED !important;
}

.txt-lightc3{
  color: #B8BDB5 !important;
}

.search-icon-size{
  width: 3em;
  height: 3em;
}

.star-icon-size{
  width: 10px;
  height: 10px;
}

.poster-size{
  width: auto;
  height: 400px;
}